* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.bgc {
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}
.header-logo a {
  font-size: 24px;
  color: #f9faf8;
}
header li {
  margin-left: 20px;
  display: inline;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 100px;
  /* flex-wrap: wrap; */
}
.hero-image img {
  width: 500px;
}
.hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.hero-text p,
nav ul li a {
  color: #e5e7eb;
  font-size: 18px;
}

.info h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

/* Quote */
.quote {
  background-color: #e5e7eb;
}
.quote h2 {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}

button {
  background-color: #3882f6;
  color: #fff;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
}

footer {
  color: #fff;
}
